h1{color :seagreen}
img {width : 400px}

#thirdDiv { width : 500px ; height : 600px ;
            background-color: coral ;
            padding : 50px ;
            border : 2px solid blue
            }
 
#spanId {font-size : 18px ;
        margin : 50px ;
        } 
            

        